html{
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}
body{
    margin: 0;
    background-color: white;
}
h1,h2,h3,h4,h5,h6,p,{
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    outline: none;
}